.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;

  @media screen and (max-width: 520px) {
    display: block;
  }
}

.footer {
  margin-top: 40px;
  color: rgb(153, 150, 150);
}
