#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.introText {
  margin-top: 32px;
  margin-bottom: 24px;
}

p {
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}
